---
apiVersion: v1
kind: Namespace
metadata:
  name: tinyauth

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tinyauth
  labels:
    app: tinyauth
  namespace: tinyauth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tinyauth
  template:
    metadata:
      labels:
        app: tinyauth
    spec:
      containers:
        - name: tinyauth
          image: ghcr.io/steveiliop56/tinyauth:v4.1.0
          ports:
            - containerPort: 3000
              name: tinyauth-cip
              protocol: TCP            
          volumeMounts:
            - mountPath: "/authfile"
              name: "authfile"
            - mountPath: "/data"
              name: "session-db"
          env:
            # Log level (trace, debug, info, warn, error, fatal, panic)
            # - name: "LOG_LEVEL"
            #   value: "info"
            - name: APP_URL
              value: "https://tinyauth.idcrook.dev"
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: tinyauth-secrets
                  key: secretKey
            # - name: GENERIC_CLIENT_ID
            #   valueFrom:
            #     secretKeyRef:
            #       name: tinyauth-secrets
            #       key: genericClientID
            # - name: GENERIC_CLIENT_SECRET
            #   valueFrom:
            #     secretKeyRef:
            #       name: tinyauth-secrets
            #       key: genericClientSecret
            # - name:  GENERIC_AUTH_URL
            #   value: https://pocketid.idcrook.dev/authorize
            # - name:  GENERIC_TOKEN_URL
            #   value: https://pocketid.idcrook.dev/api/oidc/token
            # - name:  GENERIC_USER_URL
            #   value: https://pocketid.idcrook.dev/api/oidc/userinfo
            # - name:  GENERIC_SCOPES
            #   value: "openid email profile"
            # - name:  GENERIC_NAME
            #   value: Pocket ID
            # - name: USERS
            #   valueFrom:
            #     secretKeyRef:
            #       name: tinyauth-secrets
            #       key: USERS                  
            - name: USERS_FILE
              value: "/authfile/users.txt"
          # livenessProbe:
          #   httpGet:
          #     path: /api/healthz
          #     port: tinyauth-cip
          # readinessProbe:
          #   httpGet:
          #     path: /api/healthz
          #     port: tinyauth-cip
      volumes:
          - name: authfile
            configMap:
              name: tinyauth-users-file
          - name: session-db
            # effectively: resets each restart
            emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: tinyauth-svc
  namespace: tinyauth
spec:
  clusterIP: 10.43.164.234
  ports:
    - name: tinyauth-cip
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: tinyauth
  type: ClusterIP

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
    name: tinyauth
    namespace: tinyauth
spec:
    forwardAuth:
        address: http://10.43.164.234:3000/api/auth/traefik
        maxResponseBodySize: 1048576
        trustForwardHeader: true
        authResponseHeaders:
            - remote-user
            - remote-groups
            - remote-email
            - remote-name
# to use this middleware from default namespace
#         - name: tinyauth-tinyauth@kubernetescrd
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: https-tinyauth

spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`tinyauth.idcrook.dev`)
      services:
        - name: tinyauth-svc
          namespace: tinyauth
          port: 3000
  tls:
    certResolver: wildcardresolver