[global]
  checkNewVersion = true
  sendAnonymousUsage = true

[core]
    defaultRuleSyntax="v2"

[entryPoints]

[entryPoints.web]
    address = ":80"

[entryPoints.websecure]
  address = ":443"
  [entryPoints.websecure.http]
    [entryPoints.websecure.http.tls]
    # needed for trilium since Traefik 3.6.4
    [entryPoints.websecure.http.encodedCharacters]
      allowEncodedSlash = true
      # allowEncodedPercent = true
      allowEncodedHash = true

[entryPoints.ssh]
    address = ":2222"

[providers]
  [providers.kubernetesCRD]
    allowCrossNamespace = true
  [providers.kubernetesIngress]

[experimental.plugins.fail2ban]
  moduleName = "github.com/tomMoulard/fail2ban"
  version = "v0.8.3"

[experimental.plugins.traefik-auth-with-exceptions]
  moduleName = "github.com/BrinkmannMi/traefik-auth-with-exceptions"
  version = "v0.9.2"

[experimental.plugins.traefik-oidc-auth]
  moduleName = "github.com/sevensolutions/traefik-oidc-auth"
  version = "v0.13.0"

[experimental.plugins.cloudflarewarp]
  moduleName = "github.com/YouKyi/cloudflarewarp"
  version = "v1.0.0"

# [api]
# #   insecure = true
#   dashboard = true

# [ping]
#   entryPoint = "http"

[log]
  #level = "DEBUG"
  level = "INFO"
  # traefik v3: noColor = true

[accessLog]
  #bufferingSize = 10
  bufferingSize = 0

# [metrics]
# #  addInternals = true
#   [metrics.prometheus]
#     manualRouting = true

[certificatesResolvers]
  [certificatesResolvers.myresolver]
    [certificatesResolvers.myresolver.acme]
      email = "david.crook@gmail.com"
      storage = "/acme/acme.json"

      [certificatesResolvers.myresolver.acme.httpChallenge]
        entryPoint = "web"

  [certificatesResolvers.wildcardresolver]
    [certificatesResolvers.wildcardresolver.acme]
      email = "david.crook@gmail.com"
      storage = "/acme/acme-wc.json"

      [certificatesResolvers.wildcardresolver.acme.dnsChallenge]
        provider = "namecheap"
        delayBeforeCheck = 0
