---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: default
  name: traefik-ingress-controller
---
kind: Service
apiVersion: v1
metadata:
  name: traefik-ingress-service
  namespace: default
spec:
  selector:
    app: traefik
  ports:
    - protocol: TCP
      port: 80
      name: web
    - protocol: TCP
      name: admin
      port: 8080
    - protocol: TCP
      port: 443
      name: websecure
    - protocol: TCP
      port: 2222
      name: ssh
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: traefik-ingress-service

# spec:
#   ports:
#     - protocol: TCP
#       name: web
#       port: 8000
#     - protocol: TCP
#       name: admin
#       port: 8080
#     - protocol: TCP
#       name: websecure
#       port: 4443
#   selector:
#     app: traefik
