---
# Redirect to https
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-to-https
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
    name: my-fail2ban
#    namespace: my-namespace
spec:
    plugin:
        fail2ban:
            allowlist:
                ip:
                  - "::1"
                  - "127.0.0.1"
                  - "192.168.50.0/23"
            rules:
                bantime: 3h
                enabled: "true"
                findtime: 10m
                maxretry: "4"
                statuscode: 400,401,403-499

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
    name: my-traefik-auth-with-exceptions
    # namespace: my-namespace
spec:
    plugin:
        traefik-auth-with-exceptions:
            authExtraTime: 300ms
            basicAuth:
                # users:
                #     - user:{SHA}Et6pb+wgWTVmq3VpLJlJWWgzrck=
                usersFile: "/authfile/htpasswd.txt"
            exceptions:
                # hostList:
                #     - example.com
                hostUpdateInterval: 30m
                ipList:
                  - "::1"
                  - "127.0.0.1"
                  - "192.168.50.0/23"

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
    name: my-cloudflarewarp
    # namespace: my-namespace
spec:
    plugin:
        cloudflarewarp:
            disableDefault: "true"
            trustip:
                - 10.0.0.0/8
#                - 172.16.0.0/12
                - 192.168.50.0/23
#                - 2400:cb00::/32

# https://github.com/YouKyi/cloudflarewarp

# See tinyauth.yaml for its middleware