---  # -*- yaml -*-
apiVersion: v1
kind: Secret
metadata:
  name: inlets-secret
data:
  # echo -n "$INLETS_SERVER_IP_ADDR" | base64
  INLETS_SERVER_IP_ADDR: |
    MC4wLjAuMA==
  # echo -n "$INLETSTOKEN" | base64
  # sudo cat /etc/default/inlets | cut -d"=" -f2 | tr -d '\n' | base64
  INLETS_TOKEN: |
    MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MA==
