---  # -*- yaml -*-
# local git .git/info/exclude - /conf/miniflux/miniflux-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: miniflux-secret
data:
  # echo -n "$DATABASE_URL" | base64
  DATABASE_URL: |
    cG9zdGdyZXM6Ly9taW5pZmx1eDpQQVNTV09SREBsb2NhbGhvc3QvbWluaWZsdXg/c3NsbW9kZT1k
    aXNhYmxl
